.search-bar {
  max-width: 600px;
  padding: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #fff;
}

.input-group .form-control {
  border: 1px solid #ced4da;
  border-right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: none;
}

.input-group .input-group-text {
  border: none;
  background-color: transparent;
}

.input-group .btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.input-group .btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
