.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-navigation {
  flex: 0 1 auto;
}

app-skeleton {
  flex: 1 1 auto;
  overflow-y: auto;
}

app-footer {
  flex: 0 1 auto;
}
